body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333333; 
    background-color: #f4f4f4; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #2E4053; 
}

.navbar__link {
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px 10px;
}

.navbar__link:hover {
    color: #D4AF37; 
    transition: color 0.3s ease-in-out;
}

.navbar__link--home {
    margin-right: auto;
    text-decoration: none;
}

.navbar__links .navbar__link {
    margin-right: 10px;
    text-decoration: none;
}

.heading {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    color: #1A5276; 
}

.education {
    padding: 23px;
    display: flex;
}

.education__logo {
    margin: 10px;
    max-width: 100%;
    height: auto;
}

.education__info {
    margin: 10px;
    text-align: center;
}

.education__level {
    font-size: 24px;
    font-weight: bold;
    color: #2E4053; 
}

footer { background-color: #333333;
    color: white;
text-align: center;
padding: 10px;}

.education__description {
    font-size: 18px;
    color: #424949; 
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .heading {
        font-size: 1em;
    }

    .education {
        flex-direction: column;
    }

    .education__info {
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        align-items: left;
        padding: 3px;
        font-size: medium;
    }

    .navbar__link {
        display: block;
        margin: 5px 0;
        font-size: 1.2em;
    }

    .navbar__link--home {
        margin-bottom: 10px;
    }

    .education__logo {
        width: 70%;
        margin: 0 auto;
    }

    .education__level {
        font-size: 20px;
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }

    .education__description {
        font-size: 14px;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .heading {
        font-size: 1.2em;
    }

    .education {
        flex-direction: row;
    }

    .education__logo {
        max-width: 70%;
        margin: 0 auto;
    }

    .education__level {
        font-size: 22px;
    }

    .education__description {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .heading {
        font-size: 1.3em;
    }

    .education {
        flex-direction: row-reverse;
    }

    .education__logo {
        width: 30%; 
    }

    .education__info {
        width: 70%; 
        text-align: left; 
    }

    .education__level {
        font-size: 22px;
    }

    .education__description {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1025px) {
    .heading {
        font-size: 1.6em;
    }

    .education {
        display: flex;
        flex-direction: column; 
        row-gap: space-between;
    }

    .education__logo {
        width: 30%; 
    }

    .education__info {
        width: 70%; 
        text-align: left; 
    }

    .education__level {
        font-size: 26px;
    }

    .education__description {
        font-size: 20px;
    }
}
