body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #333333; 
    background-color: #f4f4f4; 
}

.footer { 
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2E4053; 
    padding: 10px;
}

.navbar__link {
    text-decoration: none;
    color: #FFFFFF; 
    font-weight: bold;
}

.portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.portrait__image {
    max-width: 30%;
    height: auto;
}

.portrait__info {
    text-align: center;
    padding: 10px;
    color: #424949; 
}

.skills {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 24px;
    color: #1A5276;
}

.projects-link {
    text-align: center;
    padding: 20px;
}

.projects-link__link {
    font-size: 24px;
    text-decoration: none;
    color: #2E4053; 
}

.navbar__link:hover, .projects-link__link:hover { 
    color: gold;
}

/* Media Queries */
@media only screen and (max-width: 767px) and (orientation: portrait) {
    .portrait__image {
        width: 90%;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 3px;
        font-size: small;
    }
    .navbar__link {
        display: block;
        margin: 5px 0;
        font-size: 1.2em;
    }
    .navbar__link--home {
        margin-bottom: 10px;
    }
    .portrait__info {
        font-size: 0.8em;
    }
    .skills {
        flex-direction: column;
        font-size: 18px;
    }
    .projects-link__link {
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .portrait__image {
        width: 100%;
    }
    .portrait__info {
        font-size: 0.9em;
    }
    .skills {
        flex-direction: column;
        font-size: 20px;
    }
    .projects-link__link {
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .portrait__image {
        width: 80%;
    }
    .portrait__info {
        font-size: 1em;
    }
    .skills {
        flex-direction: row;
        font-size: 20px;
    }
    .projects-link__link {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1025px) {
    .portrait__image {
        width: 60%;
    }
    .portrait__info {
        font-size: 1.2em;
    }
    .skills {
        flex-direction: row;
        font-size: 24px;
    }
    .projects-link__link {
        font-size: 24px;
    }
}
