 body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333333; 
    background-color: #f4f4f4; 
}

.footer { 
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #2E4053; 
}

.navbar__link {
    text-decoration: none;
    color: #FFFFFF; 
    padding: 5px 10px;
}

.navbar__link--home {
    margin-right: auto;
}

.navbar__links .navbar__link {
    margin-right: 10px;
}

.main-heading {
    text-align: center;
    padding: 20px;
    color: #1A5276; 
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd; 
}

.project__description {
    flex: 1;
    padding: 10px;
    color: #424949;
}

.project__title {
    color: #2E4053;
}

.project__image {
    max-width: 100%;
    height: auto;
    flex: 1;
}

.navbar__link:hover {
    color: #D4AF37; 
    transition: color 0.3s ease-in-out;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .main-heading {
        font-size: 1em;
    }
    .project {
        flex-direction: row;
    }
    .project__description, .project__image {
        width: 100%;
    }
    .navbar__links {font-size: small;}
    .project__title {
        font-size: 1em;
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .project {
        flex-direction: row;
    }
    .project__description, .project__image {
        width: 20%; 
    }
    .project__image {
        max-width: 50%;  
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .main-heading {
        font-size: 1.3em;
    }
    .project {
        flex-direction: row;
    }
    .project__description, .project__image {
        width: 50%;
    }
    .project__title {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1024px) {
    .main-heading {
        font-size: 2.6em;
    }
    .project {
        flex-direction: row;
    }
    .project__description, .project__image {
        width: 50%;
        font-size: large;
    }
    .project__title {
        font-size: 2.4em;
    }
}
