
.body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
    background-color: #f4f4f4;
}

.footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #2E4053;
}

.navbar__link--home {
    font-size: small;
}

.navbar__link {
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px 10px;
}

.main-heading {
    text-align: center;
    padding: 20px;
    color: #1A5276;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contact__input-group {
    margin-bottom: 30px;
    text-align: center;
}

.contact__label {
    display: block;
    margin-bottom: 10px;
}

.contact__textarea, .contact__input {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #333333;
}

.contact__input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact__button {
    background-color: #2E4053;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
}

.navbar__link:hover {
    color: #D4AF37;
    transition: color 0.3s ease-in-out;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.socials__media {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.socials__link {
    text-align: center;
    color: #424949;
    font-size: 14px;
    margin-top: 5px;
}

.socials__icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.socials__icon:hover {
    opacity: 0.8;
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .socials__media {
        flex-direction: row;
        justify-content: space-around;
    }

    .socials__icon {
        width: 40px;
        height: 40px;
    }

    .contact__input {
        width: 70%;
    }
}

/* Phones in Landscape */
@media only screen and (max-width: 767px) and (orientation: landscape) {
    .socials__media {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .socials__icon {
        width: 30px;
        height: 30px;
    }

    .contact, .contact__input-group {
        align-items: center;
        padding: 10px;
    }

    .contact__input {
        width: 60%;
    }
}

/* Phones in Portrait */
@media only screen and (max-width: 767px) and (orientation: portrait) {
    .socials__media {
        flex-direction: row;
        width: 40%;
    }

    .socials__link {
        flex-direction: row;
    }

    .socials__icon {
        margin-bottom: 15px;
    }

    .contact, .contact__input-group {
        align-items: center;
        padding: 10px;
    }

    .contact__input {
        width: 90%;
    }
}

/* Laptops and Desktops */
@media only screen and (min-width: 1025px) {
    .socials__media {
        justify-content: center;
    }

    .socials__icon {
        width: 50px;
        height: 50px;
    }

    .contact__input {
        width: 50%;
    }
}
