 body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333333; 
    background-color: #f4f4f4; 
}

footer { 
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2E4053; 
    padding: 10px;
}
.hamburger {
    display: none; 
    font-size: 24px;
    background: none;
    border: none;
    color: #FFFFFF; 
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.hamburger.is-active {
    transform: rotate(45deg);
}

.hamburger:hover {color: gold;}

.navbar__link {
    text-decoration: none;
    color: #FFFFFF; 
    font-weight: bold;
    transition: all 0.3s ease; 
    padding-right: 50px;
}

.navbar__link:hover {
    color: #D4AF37; 
    transition: color 0.3s ease-in-out;
}

.navbar__link--home {
    margin-right: auto;
    text-decoration: none;
}

.navbar__links .navbar__link {
    margin-right: 10px;
    text-decoration: none;
}

.main-heading {
    text-align: center;
    padding: 20px;
    color: #1A5276; 
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd; 
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    will-change: opacity, transform;
}

.project__description {
    flex: 1;
    padding: 10px;
    color: #424949;
}

.project__title {
    color: #2E4053;
}

.project__image {
    max-width: 100%;
    height: auto;
    flex: 1;
}

.project.visible {
    opacity: 1;
    transform: translateY(0);
}

.navbar__link:hover {
    color: #D4AF37; 
    transition: color 0.3s ease-in-out;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 30px; 
    right: 30px; 
    z-index: 99;
    border: none; 
    outline: none;
    background-color: #2E4053; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 100%; 
}

.arrow {font-size: 30px}

#backToTop:hover {
    background-color: #431fc4; 
}


@media only screen and (max-width: 767px) and (orientation: portrait) {
    .main-heading {
        font-size: 1em;
    }
    .project {
        flex-direction: row;
    }
    .project__description, .project__image {
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: left;
        padding: 3px;
        font-size: medium;
    }

    .navbar__link {
        display: none;
        margin: 5px 0;
        font-size: 1.2em;
    }
    .hamburger {
        display: block;
        align-self:flex-end
    }
    .project__title {
        font-size: 1em;
    }

    
   
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .project {
        flex-direction: row;
    }
    .project__description, .project__image {
        width: 20%; 
    }
    .project__image {
        max-width: 50%;  
    }
    .navbar {
        flex-direction: column;
        align-items: left;
        padding: 3px;
        font-size: medium;
    }

    .navbar__link {
        display: none;
        margin: 5px 0;
        font-size: 1.2em;
    }
    .hamburger {
        display: block;
        align-self:flex-end
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .main-heading {
        font-size: 1.3em;
    }
    .project {
        flex-direction: row;
    }
    .project__description, .project__image {
        width: 50%;
    }
    .project__title {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1024px) {
    .main-heading {
        font-size: 2.6em;
    }
    .project {
        flex-direction: row;
    }
    .project__description, .project__image {
        width: 50%;
        font-size: large;
    }
    .project__title {
        font-size: 2.4em;
    }
}
