body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
    background-color: #f4f4f4;
}

.footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 30px; 
    right: 30px; 
    z-index: 99;
    border: none; 
    outline: none;
    background-color: #2E4053; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 100%; 
}

.arrow {font-size: 30px}

#backToTop:hover {
    background-color: #431fc4; 
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2E4053; 
    padding: 10px;
}
.hamburger {
    display: none; 
    font-size: 24px;
    background: none;
    border: none;
    color: #FFFFFF; 
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.hamburger.is-active {
    transform: rotate(45deg);
}

.hamburger:hover {color: gold;}

.navbar__link {
    text-decoration: none;
    color: #FFFFFF; 
    font-weight: bold;
    transition: all 0.3s ease; 
    padding-right: 50px;
}

.navbar__link:hover {
    color: #D4AF37; 
    transition: color 0.3s ease-in-out;
}

.navbar__link--home {
    margin-right: auto;
    text-decoration: none;
}

.navbar__links .navbar__link {
    margin-right: 10px;
    text-decoration: none;
}

.main-heading {
    text-align: center;
    padding: 20px;
    color: #1A5276;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contact__input-group {
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 1rem;
}

.contact__label {
    display: block;
    margin-bottom: 10px;
}

.contact__textarea, .contact__input {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #333333;
}

.contact__input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact__button {
    background-color: #2E4053;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
}

.navbar__link:hover {
    color: #D4AF37;
    transition: color 0.3s ease-in-out;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 5rem;
}

.socials__media {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.socials__link {
    text-align: center;
    color: #424949;
    font-size: 1.1rem;
    margin-top: 5px;
}

.socials__icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.socials__icon:hover {
    opacity: 0.8;
}

.button {
    --color: #fff;
    --background:#1A5276;
    --height: 41px;
    --width: 160px;
    --icon: white;
    padding: 0;
    cursor: pointer;
    text-align: center;
    position: relative;
    border: none;
    outline: none;
    background: none;
    -webkit-tap-highlight-color: transparent;
    width: var(--width);
    letter-spacing: .5px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color);
    line-height: var(--height);
    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    &:before {
        transform: translate(-50%, -50%);
        width: var(--before-w, var(--width));
        height: var(--before-h, var(--height));
        border-radius: var(--before-r, 7px);
        background: var(--background);
        transform-origin: 50% 50%;
        transition: width .3s, height .3s, border-radius .2s;
        transition-delay: .2s;
    }
    &:after {
        width: 16px;
        height: 16px;
        margin: -8px 0 0 -8px;
        background: var(--icon);
        z-index: 2;
        border-radius: 50%;
        transform: scale(0);
    }
    span {
        z-index: 1;
        display: block;
        position: relative;
        opacity: var(--span-o, 1);
        transform: scale(var(--span-s, 1));
        transition: opacity .3s, transform .2s;
        transition-delay: .2s;
    }
    svg {
        width: 15px;
        height: 13px;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        stroke: var(--icon);
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
        transform: translate(-50%, -50%);
        stroke-dasharray: 17px;
        stroke-dashoffset: var(--svg-o, 17px);
        transition: stroke-dashoffset .3s ease;
    }
    &.processing {
        --before-w: 41px;
        --before-h: 41px;
        --before-r: 22px;
        --span-o: 0;
        --span-s: .6;
        --after-s: 1;
        --svg-o: 34px;
        &:before {
            animation: pulse 3s linear forwards;
        }
        &:after {
            animation: dot 3s linear forwards;
        }
        svg {
            transition-delay: 3s;
        }
    }
}

@keyframes pulse {
    4% {
        transform: translate(-50%, -50%) scaleX(1.1);
    }
    8% {
        transform: translate(-50%, -50%);
    }
    24%,
    56%,
    88% {
        transform: translate(-50%, -50%) scale(.8);
    }
    40%,
    72% {
        transform: translate(-50%, -50%) scale(1.2);
    }
}

@keyframes dot {
    8% {
        transform: scale(0);
    }
    16% {
        transform: scale(1) rotate(30deg) translateX(48px);
    }
    95% {
        transform: scale(1) rotate(1000deg) translateX(48px);
    }
    100% {
        transform: scale(.125) rotate(1050deg) translate(52px, -6px);
    }
}

.restart {
    display: table;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    line-height: 23px;
    color: #404660;
    font-size: 14px;
    font-weight: 500;
    svg {
        margin: 4px 4px 0 0;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: top;
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .socials__media {
        flex-direction: row;
        justify-content: space-around;
    }

    .socials__icon {
        width: 40px;
        height: 40px;
    }

    .contact__input {
        width: 70%;
    }
}

/* Phones in Landscape */
@media only screen and (max-width: 767px) and (orientation: landscape) {
    .socials__media {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .socials__icon {
        width: 30px;
        height: 30px;
    }

    .contact, .contact__input-group {
        align-items: center;
        padding: 10px;
    }

    .contact__input {
        width: 60%;
    }
    .navbar {
        flex-direction: column;
        align-items: left;
        padding: 3px;
        font-size: medium;
    }

    .navbar__link {
        display: none;
        margin: 5px 0;
        font-size: 1.2em;
    }
    .hamburger {
        display: block;
        align-self:flex-end
    }
}

/* Phones in Portrait */
@media only screen and (max-width: 767px) and (orientation: portrait) {
    .socials__media {
        flex-direction: row;
        width: 40%;
    }

    .socials__link {
        flex-direction: row;
    }

    .socials__icon {
        margin-bottom: 15px;
    }

    .contact, .contact__input-group {
        align-items: center;
        padding: 10px;
    }

    .contact__input {
        width: 90%;
    }
    .navbar {
        flex-direction: column;
        align-items: left;
        padding: 3px;
        font-size: medium;
    }

    .navbar__link {
        display: none;
        margin: 5px 0;
        font-size: 1.2em;
    }
    .hamburger {
        display: block;
        align-self:flex-end
    }
}

/* Laptops and Desktops */
@media only screen and (min-width: 1025px) {
    .socials__media {
        justify-content: center;
    }

    .socials__icon {
        width: 50px;
        height: 50px;
    }

    .contact__input {
        width: 50%;
    }
    body { font-size: 2rem;}
}
