body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
    background-color: #f4f4f4;
}


.footer { 
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 0.5%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2E4053; 
    padding: 10px;
}

.hamburger {
    display: none; 
    font-size: 24px;
    background: none;
    border: none;
    color: #FFFFFF; 
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.hamburger.is-active {
    transform: rotate(45deg);
}

.hamburger:hover {color: gold;}

.navbar__link {
    text-decoration: none;
    color: #FFFFFF; 
    font-weight: bold;
    transition: all 0.3s ease; 
    padding-right: 50px;
}

.navbar__link:hover {
    color: #D4AF37; 
    transition: color 0.3s ease-in-out;
}


.navbar__links .navbar__link {
    margin-right: 10px;
    text-decoration: none;
}


.main-heading {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    color: #1A5276; 
    font-family: 'Montserrat', sans-serif;
}

.content__video-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.content__video {
    max-width: 100%;
    height: auto;
}

.content__info {
    padding: 20px;
    background-color: #D5D8DC; 
    font-family: 'Montserrat', sans-serif;
}

.content__title {
    text-align: left;
    font-size: 1.2em;
    margin-top: 20px;
    color: #2E4053; 
    font-family: 'Montserrat', sans-serif;
}

.content__description {
    text-align: left;
    font-size: 1em;
    white-space: pre-line;
    color: #424949; 
    font-family: 'Montserrat', sans-serif;
}

.navbar__link:hover {
    color: #D4AF37;
    transition: color 0.3s ease-in-out;
}



@media only screen and (max-width: 767px) and (orientation: portrait) {
    .main-heading {
        font-size: 1em;
    }

    .content__video-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .content__video {
        width: 90%;
    }

    .content__info {
        margin-bottom: 15px;
    }

    .content__description {
        font-size: 0.8em;
    }
    .navbar {
        flex-direction: column;
        align-items: left;
        padding: 3px;
        font-size: medium;
    }

    .navbar__link {
        display: none;
        margin: 5px 0;
        font-size: 1.2em;
    }
    .hamburger {
        display: block;
        align-self:flex-end
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .main-heading {
        font-size: 1.1em;
    }

    .content__video-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .content__video {
        width: 100%;
    }

    .content__info {
        margin-bottom: 15px;
    }

    .content__description {
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-heading {
        font-size: 1.2em;
    }

    .content__video-container {
        flex-direction: row;
        justify-content: space-around;
        padding: 15px;
    }

    .content__video {
        width: 50%;
    }

    .content__info {
        margin-bottom: 20px;
    }

    .content__description {
        font-size: 1em;
    }
}

@media only screen and (min-width: 1025px) {
    .main-heading {
        font-size: 1.5em;
    }

    .content__video-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .content__video {
        width: 50%;
    }

    .content__info {
        margin-bottom: 25px;
    }

    .content__description {
        font-size: 1.2em;
    }
}
