body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #333333; 
    background-color: #f4f4f4; 
}

.footer { 
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2E4053; 
    padding: 10px;
}

.navbar__link {
    text-decoration: none;
    color: #FFFFFF; 
    font-weight: bold;
    transition: all 0.3s ease; 
}

.hamburger {
    display: none; 
    font-size: 24px;
    background: none;
    border: none;
    color: #FFFFFF; 
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.hamburger.is-active {
    transform: rotate(45deg);
}

.hamburger:hover {color: gold;}

#backToTop {
    display: none;
    position: fixed;
    bottom: 30px; 
    right: 30px; 
    z-index: 99;
    border: none; 
    outline: none;
    background-color: #275280; 
    color: white; 
    cursor: pointer;  
    border-radius: 50%; 
    padding: 20px;
}

.arrow {font-size: 1.5rem }

#backToTop:hover {
    background-color: #ffffff; 
    color: #275280;
}

.portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.portrait__image {
    max-width: 30%;
    height: auto;
    animation: slideInFromLeft 1s ease-out forwards;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.portrait__info {
    text-align: center;
    padding: 10px;
    color: #424949; 
    width: 70%;
    padding-left: 25%;
    background-color: #c9d4db;
    border-radius: 2%;
    margin-top: 15px;
}

.portrait__text {
    border-right: 2px solid;
    white-space: wrap;
    overflow: hidden;
    width: 70%;
}

.skills {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 24px;
    color: #1A5276;
}
@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.skills__item {
    animation: slideUp 0.5s ease-out forwards;
    opacity: 0; 
}

.projects-link {
    text-align: center;
    padding: 20px;
}

.projects-link__link {
    font-size: 24px;
    text-decoration: none;
    color: #2E4053; 
}

.navbar__link:hover, .projects-link__link:hover { 
    color: gold;
}

/* Media Queries */
@media only screen and (max-width: 767px) and (orientation: portrait) {
    .portrait__image {
        width: 90%;
    }
    .navbar {
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        padding: 3px;
        font-size: small;
    }
    .navbar__link {
        display: none;
        margin: 5px 0;
        font-size: 1.2em;
    }
    .navbar__link--home {
        margin-bottom: 10px;
    }
    .portrait__info {
        font-size: 0.8em;
    }
    .skills {
        flex-direction: column;
        font-size: 18px;
    }
    .projects-link__link {
        font-size: 18px;
    }
    .hamburger {
        display: block;
        align-self:flex-end
    }
    .portrait__info {
        text-align: center;
        padding: 10px;
        color: #424949; 
        width: 90%;
        padding-left: 25%;
    }
    
    .portrait__text {
        border-right: 2px solid;
        white-space: wrap;
        overflow: hidden;
        width: 70%;
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .portrait__image {
        width: 100%;
    }
    .navbar__link {
        display: none;
        margin: 5px 0;
        font-size: 1.2em;
    }
    .portrait__info {
        font-size: 0.9em;
    }
    .skills {
        flex-direction: column;
        font-size: 20px;
    }
    .projects-link__link {
        font-size: 20px;
    }
    .hamburger {
        display: block;
        align-self: flex-start;
    }
    .left { display: flex;
    flex-direction: column;
    position: fixed;}

nav ul {display: flex;
flex-direction: column;}


.both { display: flex;
        flex-direction: row;


    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .portrait__image {
        width: 80%;
    }
    .portrait__info {
        font-size: 1em;
    }
    .skills {
        flex-direction: row;
        font-size: 20px;
    }
    .projects-link__link {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1025px) {
    .portrait__image {
        width: 60%;
    }
    .portrait__info {
        font-size: 1.2em;
    }
    .skills {
        flex-direction: row;
        font-size: 24px;
    }
    .projects-link__link {
        font-size: 24px;
    }
}
